.DS_Store
*.pyc
__pycache__/
.venv/
.env
.plm_nn/
plm_nnsight.py
plm_nnsight.md
copy_*
pdbs/
*.gz
.claude
.codex
CLAUDE.md
testing
*.pt 
*.pkl
*.npy
*.npz
*.hmm
*.a2m
*.tsv
*.sto
*.err
*.out
*.fa
*.fasta
**/tmp
*.nw
*.cif
**/annotations.json
*.DS_Store
*.log
logs/
**/TARGET*
**/cache/
# large generated images
reports/outputs/2B61A/attention_heads/all_heads_summary.png
reports/outputs/2B61A/attention_heads_full/all_heads_summary.png
*.pdb
foldseek**
data/fold**
anchor_plm/.git*
foldmason**
data/cath/